.sendform-button-container {
  position: relative;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  width: 0;
  height: 0%;
  top: 280px;
}

.sendform-button-container:hover {
}

#sendform-button {
  transition: 0.2s;
  width: 70px;
  position: absolute;
  right: -40px;
  top: -18px;
}

#sendform-button:hover {
  cursor: pointer;
  scale: 1.06;
}

#sendbutton-text {
  position: absolute;
  background-color: var(--primary-red);
  padding: 15px;
  padding-left: 45px;
  top: -17px;
  left: 2px;
  z-index: -1;
  border-radius: 15px;
  color: white;
}
