#myskills-container {
  height: 100vh;
}

.codingskillbox-container {
  height: 82%;
  display: flex;
  /* align-items: center; */
  margin-top: 1%;
  justify-content: center;
}

#codingSkillsBox {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
  font-weight: 1000;
}

#progress-bar-box {
  border: 2px solid var(--primary-red);
  border-radius: 9px;
  width: 100%;
  padding: 1% 2%;
}

#progress-bar-box .progress-container {
  border: 2px solid var(--primary-red);
  border-radius: 9px;
  padding: 5px;
  margin-bottom: 8%;
}

#last {
  margin-bottom: 2% !important;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

label {
  font-size: 16px;
}

progress {
  width: 100%;
  background-color: red;
}

progress::-webkit-progress-value {
  background-color: var(--primary-red);
  border-radius: 2px;
}

progress::-webkit-progress-bar {
  background-color: var(--bg-color);
}

.percentage {
  text-align: left;
}
